.button {
	padding: 10px 20px;
	border: none;
	background: transparent;
	background-color: dodgerblue;
	color: white;
	font-size: 18px;
	text-decoration: none;
	transition: background 0.25s ease-in-out 0s;
	cursor: pointer;
}

.button:hover,
.button:focus {
	background-color: black;
	color: white;
}

.button--red {
	background-color: red;
}

.button--purple {
	background-color: purple;
}

.button--yellow {
	background-color: yellow;
	color: black;
}
